.App {
  text-align: center;
}

.linea{
  height: 10px;
  padding: 18px;
  list-style: none;
  background-color: #434547;
  padding-left: 200px;
  color: #FFFFFF;
  text-align: right;
  padding-right: 80px;
  box-shadow: 10px 5px 5px grey;
}

.boton{
  padding: 6px 10px;
  border: none;
  height: 100%;
  background: none;
  color: #FFFFFF;
  font-size: 1.2em;
  transition-duration: 0.5s;
  cursor: pointer;
}

.sobre:hover {
  box-shadow: 5px 5px 0px 0 #FFFFFF,0 17px 50px 0 rgba(245, 245, 245, 0.19);
}

.menu {
  height: 30px;
  border: none;
  padding: 15px;
  list-style: none;
  background-color: #434547;
  text-align: left;
  padding-left: 200px;
  color: #FFFFFF;
}

.titulo{
  text-align: left;
  padding-left: 20px;
  font-size: 2.5em;
}

.subtitulo{
  text-align: left;
  color: #434547;
  font-size: 1em;
}

.menu li{
  display: inline-block;
  font-size: 0.85em;
  padding-right: 18px;
  padding-left: 18px;
  border-left: 2px solid #FFFFFF;
}

.Header {
  height: 100%;
  width: 100%;
  margin: auto;
  color: #5AB7DE;
}

.logo{
  width: 100px;
}

.loginLogo{
  width: 20px;
  padding-right: 10px;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
