.App {
    text-align: center;
    padding-bottom: 40px;
}

.titulo{
    font-size: 2.2em;
}

.formulario{
    display: inline-block;
    text-align: center;
}

.botonRegistro{
    background-color: #434547; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.campoForm{
    text-align: center;
    width: 100%;
    padding: 14px 80px;
    margin: 20px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}


